/* Basic Style */

*
{
	margin: 0em;
	padding: 0em;
}

html, body
{
	overflow-x: hidden;
	font-family: "Helvetica", "Apple SD Gothic Neo";
	background-color: transparent;
	font-size: 10px;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}

a
{
	text-decoration: none;
	color: #473E4D;
}

ul, ol, li
{
	list-style-type: none;
}

#page
{
	/*background-color: #F6E2D1;*/
	background-color: transparent;
}

.component
{
	margin: 0em 5% 0em 5%;
	width: 90%;
}

.gap
{
	width: 100%;
}

.expensor
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.blue
{
	color: #3A7A87 !important;
}

.darkblue
{
	color: #20434A !important;
}

.green
{
	color: #6C8A40 !important;
}

.darkgreen
{
	color: #3A4A22 !important;
}

.right
{
	float: right;
}

.left
{
	float: left;
}

.paragraph
{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -webkit-pre-wrap;
	word-wrap: break-word;
}

.ellipsis
{
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	white-space: nowrap;
}

.shadow
{
	text-shadow: 0px 1px 0px #E8E8E8;
}

.even
{
	background-image: url("./resource/gradient/even.png");
	/*background: gradient(linear, left top, left bottom, from(#f3ddc9), to(#ebd2bb));
	background: -webkit-gradient(linear, left top, left bottom, from(#f3ddc9), to(#ebd2bb));
	background: -moz-gradient(linear, left top, left bottom, from(#f3ddc9), to(#ebd2bb));
	background: -o-gradient(linear, left top, left bottom, from(#f3ddc9), to(#ebd2bb));*/
	background-size: 100% 100%;
	border-top: 1px solid #F1DFCF;
	border-bottom: 1px solid #E0BFA0;
}

.odd
{
	background-image: url("./resource/gradient/odd.png");
	/*background: gradient(linear, left top, left bottom, from(#ebcdb3), to(#e9c9ad));
	background: -webkit-gradient(linear, left top, left bottom, from(#ebcdb3), to(#e9c9ad));
	background: -moz-gradient(linear, left top, left bottom, from(#ebcdb3), to(#e9c9ad));
	background: -o-gradient(linear, left top, left bottom, from(#ebcdb3), to(#e9c9ad));*/
	background-size: 100% 100%;
	border-top: 1px solid #F4E4D6;
	/*border-bottom: 1px solid #F1DFCF;*/
}

.cover
{
	position: absolute;
	
	box-shadow: 0px 0.1em 0.2em #333333 inset;
	-webkit-box-shadow: 0px 0.1em 0.2em #333333 inset;
	-ms-box-shadow: 0px 0.1em 0.2em #333333 inset;
	-moz-box-shadow: 0px 0.1em 0.2em #333333 inset;
	-o-box-shadow: 0px 0.1em 0.2em #333333 inset;
}




/* Common Style */

.profileImage
{
	width: 3.5em;
	height: 3.5em;
	margin: 0.8em;
	border: 0px solid #FFFFFF;
	border-radius: 4px;
	float: left;
}

.upperWrap
{
	float: left;
}

.lowerWrap
{
	float: left;	
}

.arrow
{
	float: right;
	height: 2em;
	margin-right: 1em;
}




/* Feed List */

#feedList li
{
	border-bottom: 1px solid #F7F2ED;
}




/* Section Header */

.header
{
	background-image: url("./resource/gradient/section_header.png");
	/*background: gradient(linear, left top, left bottom, from(#f3d9c1), to(#e9cdb3));
	background: -webkit-gradient(linear, left top, left bottom, from(#f3d9c1), to(#e9cdb3));
	background: -ms-gradient(linear, left top, left bottom, from(#f3d9c1), to(#e9cdb3));
	background: -moz-gradient(linear, left top, left bottom, from(#f3d9c1), to(#e9cdb3));
	background: -o-gradient(linear, left top, left bottom, from(#f3d9c1), to(#e9cdb3));*/
	background-size: 100% 100%;
	border-top: 1px solid #D6BDA6;
	border-bottom: 1px solid #F8F1EA;
	clear: both;
	height: 5.1em;
}

.header .profileImage
{
	
}

.header .upperWrap
{
	margin-top: 0.6em;
}

.header .lowerWrap
{
	margin-top: -0.2em;
}

.header .name
{
	float: left;
	font-size: 1.4em;
	color: #52455C;
}

.header .time
{
	margin-top: 0.2em;
	float: right;
	text-align: right;
	font-size: 1em;
	font-weight: bold;
	color: #473E4D;
}

.header .place
{
	float: left;
	font-size: 1.8em;
	font-weight: bold !important;
	color: #232323;
	width: 80%;
	height: 1.3em;
}

.header .region
{
	float: right;
	text-align: right;
	font-size: 1.2em;
	color: #87655B;
	margin-top: 0.3em;
}




/* Section Content */

.content
{
	padding: 1em 0em 1em 0em;
	background-color: #F6E2D1;
}

.content .thumbnail
{
	
}

.content .picture
{
	border: 0px solid #FFFFFF;
	border-radius: 7px;
}

.content .feedback
{
	position: relative;
	margin-left: 93%;
	height: 1.5em;
	width: 13em;
	top: -2.1em;
	left: -10.9em;
}

.content .iconWrap
{
	float: right;
	margin-right: 1em;
}

.content .icon
{
	float: left;
	width: 1.3em;
	height: 1.3em;
}

.content .iconText
{
	text-align: right;
	float: left;
	font-size: 1.3em;
	font-weight: bold;
	margin-left: 0.3em;
	margin-top: -0.1em;
}

.content .review
{
	font-size: 1.7em;
	color: #302935;
}




/* Feed Detail - Detail Part */

#topMargin
{
	height: 1.9em;
}

#topArrow
{
	height: 2em;
}

#topShadow
{
	top: 2em;
	width: 100%;
	height: 3em;
	position: absolute;
	z-index: -1;
	margin-left: 0%;
	
	box-shadow: 0em 0em 1em rgba(68, 68, 68, 1);
	-webkit-box-shadow: 0px 0em 1em rgba(68, 68, 68, 1);
	-moz-box-shadow: 0px 0em 1em rgba(68, 68, 68, 1);
	-o-box-shadow: 0px 0em 1em rgba(68, 68, 68, 1);
}

#detail
{
	background-color: #F6E2D1;
}

#detail #infoList
{
	margin-top: 0em;
	padding-top: 0.9em;
	padding-bottom: 1em;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	background-color: #E9CDB3;
}

#detail #infoList li
{
	clear: both;
	height: 1.5em;
	padding-left: 5%;
	padding-right: 5%;
}

#detail #infoList .coin
{
	width: 1.3em;
	vertical-align: text-bottom;
}

#detail #infoList .moneyUnit
{
	color: #3B2E43 !important;
}

#detail #infoList .leftWrap
{
	float: left;
	width: 45%;
}

#detail #infoList .leftWrap span
{
	font-size: 1.3em;
	color: #6B4219;
}

#detail #infoList .rightWrap
{
	float: right;
	width: 45%;	
}

#detail #infoList .rightWrap span
{
	font-size: 1.3em;
	text-align: right;
	color: #AD3E56;
	float: right;
	margin-left: 0.3em;
}

#detail #seeAll
{
	/*font-size: 1.75em;*/
	height: 3em;
	padding-top: 0.7em;
	padding-left: 1em;
	background-image: url("./resource/gradient/see_all.png");
	/*background: gradient(linear, left top, left bottom, from(#f7ddc7), to(#f7e3d2));
	background: -webkit-gradient(linear, left top, left bottom, from(#f7ddc7), to(#f7e3d2));
	background: -ms-gradient(linear, left top, left bottom, from(#f7ddc7), to(#f7e3d2));
	background: -moz-gradient(linear, left top, left bottom, from(#f7ddc7), to(#f7e3d2));
	background: -o-gradient(linear, left top, left bottom, from(#f7ddc7), to(#f7e3d2));*/
	background-size: 100% 100%;
	border-top: 1px solid #F7EEE7;
}

#detail #seeAll span
{
	font-size: 1.75em;
	font-weight: bold;
	color: #3D2C48;
}

#detail #seeAll .arrow
{
	margin-top: 0.3em;
}

#detail #likeBar
{
	font-size: 1.3em;
	background-image: url("./resource/gradient/like_bar.png");
	/*background: gradient(linear, left top, left bottom, from(#e9cbaf), to(#ebd0b7));
	background: -webkit-gradient(linear, left top, left bottom, from(#e9cbaf), to(#ebd0b7));
	background: -ms-gradient(linear, left top, left bottom, from(#e9cbaf), to(#ebd0b7));
	background: -moz-gradient(linear, left top, left bottom, from(#e9cbaf), to(#ebd0b7));
	background: -o-gradient(linear, left top, left bottom, from(#e9cbaf), to(#ebd0b7));*/
	background-size: 100% 100%;
	padding: 0.4em;
	color: #3d2c48;
	border-bottom: 1px solid #D9A981;
}

#detail #likeBar #likeIcon
{
	float: left;
	height: 1em;
	width: 1em;
	margin-right: 0.5em;
}




/* People List */

#peopleList li
{
	height: 5.1em;
	clear: both;
}

#peopleList .userName
{
	float: left;
	font-size: 1.7em;
	font-weight: bold;
	margin-top: 0.9em;
	color: #302935;
}

#peopleList .nation
{
	float: left;
	font-size: 1.2em;
	margin-top: 1.5em;
	margin-left: 0.4em;
	color: #87655B;
}

#peopleList .arrow
{
	height: 1.7em;
	margin-top: 1.6em;
}




/* Comment List */

#commentList li
{
	clear: both;
}

#commentList .profileImage
{
	width: 3em;
	height: 3em;
	margin: 0.8em;
	margin-left: 1em;
}

#commentList .upperWrap
{
	margin-top: 0.7em;
}

#commentList .lowerWrap
{
	margin-bottom: 0.4em;
	margin-top: -0.2em;
}

#commentList .userName
{
	font-size: 1.7em;
	font-weight: bold;
	color: #3D2C48;
}

#commentList .time
{
	font-size: 1.3em;
	float: right;
	color: #BFA288;
}

#commentList .comment
{
	font-size: 1.3em;
}




/* Place List */

#placeList li
{
	clear: both;
	padding: 1em;
	padding-bottom: 0.5em;
	min-height: 4em;
}

#placeList .name
{
	font-size: 1.7em;
	color: #302935;
}

#placeList .category
{
	font-size: 1.3em;
	color: #9F8268;
}




/* Simple Feed */

#simpleFeedList li
{
	clear: both;
}

#simpleFeedList .profileImage
{
	width: 8em;
	height: 8em;
	margin: 1em;
	border-radius: 10px;
}

#simpleFeedList .upperWrap
{
	margin-top: 1.5em;
}

#simpleFeedList .lowerWrap
{
	margin-top: 0em;
	margin-bottom: 0.5em;
}

#simpleFeedList .place
{
	font-size: 1.6em;
	font-weight: bold;
	color: #3D2C48;
	width: 80%;
	float: left;
}

#simpleFeedList .time
{
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	color: #876D56;
}

#simpleFeedList .review
{
	font-size: 1.4em;
	color: #513D2B;
}




/* Simple Trip */

#simpleTripList li
{
	clear: both;
}

#simpleTripList .profileImage
{
	width: 8em;
	height: 8em;
	margin: 1em;
	border-radius: 10px;
}

#simpleTripList .upperWrap
{
	margin-top: 1.5em;
}

#simpleTripList .lowerWrap
{
	margin-top: 0.3em;
	margin-bottom: 0.4em;
}

#simpleTripList .time
{
	clear: both;
	float: left;
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
	color: #876D56;
}

#simpleTripList .feeds
{
	float: right;
	font-size: 1.2em;
	text-align: right;
	color: #9F8268;
}

#simpleTripList .title
{
	clear: both;
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 1.1em;
	color: #3D2C48;
}

#simpleTripList .summary
{
	font-size: 1.5em;
	color: #513D2B;
}




/* Profile */

#profile
{
	/*background-color: #F3D9C1*/
}

#profile #background
{
	position: absolute;
	width: 100%;
	z-index: -1;
}

#profile #pseudoTopWrap
{
	height: 5.2em;
	width: 100%;
}

#profile #pseudoBottomWrap
{
	box-shadow: 0em 0em 3.5em rgba(68, 68, 68, 1);
	height: 7em;
}

#profile #profileImageWrapper
{
	width: 8em;
	height: 4em;
	position: absolute;
	left: 1.5em;
	top: 2em;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
	background-color: #F3D9C1;
}

#profile .profileShadow
{
	box-shadow: 0em 0em 2em rgba(68, 68, 68, 1);
	-webkit-box-shadow: 0px 0em 2em rgba(68, 68, 68, 1);
	-moz-box-shadow: 0px 0em 2em rgba(68, 68, 68, 1);
	-o-box-shadow: 0px 0em 2em rgba(68, 68, 68, 1);
}

#profile #foreground
{
	
}

#profile #topWrap
{
	height: 5.2em;
	width: 100%;
	background-color: #F3D9C1;
}

#profile .profileImage
{
	width: 6.8em;
	height: 6.8em;
	border-radius: 8.5px;
	margin-top: -2.4em;
	margin-left: 2.1em;
}

#profile #nation
{
	color: #875647;
}

#profile #userName
{
	padding-top: 0.1em;
	color: #302935;
	font-size: 2em;
	font-weight: bold;
}

#profile #onTrip
{
	float: left;
	width: 1.625em;
	height: 1em;
	margin-top: 0.2em;
	margin-right: 0.5em;
}

#profile #nation
{
	font-size: 1.2em;
	color: #87645A;
}

#profile #noticeWrap
{
	position: absolute;
	width: 4em;
	height: 5.6em;
	background-size: 100% 100%;
	left: 100%;
	margin-left: -6em;
	margin-top: -6.5em;
}

#profile #noticeText
{
	margin-top: 0.4em;
	text-align: center;
	font-size: 2em;
	width: 2em;
	color: #6C8A40;
}

#profile #bottomWrap
{
	height: 7em;
	background-color: #F3D9C1;
}

#profile .infoBox
{
	width: 33%;
	height: 7em;
	float: left;
}

#profile .infoNumber
{
	text-align: center;
	font-size: 3.5em;
	color: #302935;
	font-weight: bold;
}

#profile .infoText
{
	text-align: center;
	font-size: 1.5em;
	color: #53455F;
	font-weight: bold;
}

#profile .verticalSegment
{
	width: 0.5%;
	height: 2em;
	margin-top: 1.75em;
	background-color: #773333;
	float: left;
}