*
{
	margin: 0em;
	padding: 0em;
}

@font-face
{
	font-family: "Helvetica 75 Bold";
	src: url("font/HelveticaNeue 75 Bold.otf");
}

@font-face
{
	font-family: "Helvetica 37 Thin Condensed";
	src: url("font/HelveticaNeue 37 Thin Condensed.otf");
}

body
{
	overflow-x: hidden;
	background-color: #f5e7da;
	font-family: "Helvetica 75 Bold";
}

.title
{
	background-image: url("resource/gradient.png");
	background-size: 100% 100%;
	clear: both;
	height: 3.6em;
}

.content
{
	clear: both;
}

.profileImage
{
	width: 2.6em;
	height: 2.6em;
	margin: 0.5em;
	float: left;
	border: 0px solid #ffffff;
	border-radius: 0.4em;
}

.cover
{
	position: absolute;
	-webkit-box-shadow: 0px 1px 2px #333333 inset;
}

.upperWrap
{
	float: left;
	height: 1em;
	margin-top: 0.6em;
	width: 80%;
}

.lowerWrap
{
	float: left;
	height: 1.4em;
	margin-top: 0.3em;
	width: 80%;
}

.userName
{
	font-family: "Helvetica 37 Thin Condensed";
	float: left;
	font-size: 1em;
	font-weight: bold;
	height: 1.4em;
	color: #473e4d;
}

.time
{
	float: right;
	text-align: right;
	font-size: 0.8em;
	height: 1.4em;
	font-weight: bold;
	color: #473e4d;
	margin-top: 0.4em;
}

.place
{
	float: left;
	font-size: 1.33em;
	font-weight: bold;
	color: #140e17;
}

.region
{
	float: right;
	top: 3em;
	text-align: right;
	font-size: 0.8em;
	color: #876d56;
	margin-top: 0.5em;
}

.thumbnail
{
	width: 86%;
	margin-left: 7%;
	border: 0px solid #ffffff;
	border-radius: 0.7em;
}

.feedback
{
	position: absolute;
	margin-left: 93%;
	height: 3em;
	width: 8em;
	top: -3em;
	left: -8em;
}

.textLike
{
	color: #4c5821;
}

.textComment
{
	color: #005c6b;
}

.review
{
	font-size: 1em;
	width: 80%;
	height: 3em;
	padding-left: 0.5em;
	padding-top: 0.3em;
	padding-right: 0.5em;
	
	margin-left: 7%;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.gap
{
	width: 100%;
}

.detailImage
{
	position: absolute;
	padding-left: 10px;
	padding-right: 10px;
}

.simpleThumbnail
{
	width: 6em;
	height: 6em;
	margin: 0.5em;
	float: left;
	border: 0px solid #ffffff;
	border-radius: 0.4em;
}

.lowerWrap .review
{
	margin-left: 0em;
	margin-top: 0.5em;
	padding: 0em;
	width: 100%;
}

#mainPicture
{
	width: 86%;
	height: 180px;
	margin-top: 1em;
	margin-left: 7%;
	border: 0px solid #ffffff;
	border-radius: 0.7em;
}

.mainButton
{
	font-size: 1.5em;
	text-align: center;
	width: 60%;
	height: 1.5em;
	margin-left: 20%;
	margin-top: 0.5em;
	padding-top: 0.1em;
	border: 0px solid #ffffff;
	border-radius: 0.7em;
	background-color: #aa8888;
}

#loading
{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	margin-top: -1em;
	font-size: 3em;
	text-shadow: 2px 2px 2px gray;
}