/* Basic Style */

*
{
	margin: 0em;
	padding: 0em;
	border: 0;
	font-size: 1em;
}

html, body
{
	overflow-x: hidden;
	font-family: "Helvetica 75 Bold";
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-color: transparent;
}

#page, .wrap, .pseudo
{
	background-color: #f5e7da;
}

.cover
{
	position: absolute;
	-webkit-box-shadow: 0px 1px 2px #333333 inset;
}

.gap
{
	width: 100%;
}

.component
{
	width: 86%;
	margin: 0.2em 7% 0.2em 7%;
}




/* Fonts */

@font-face
{
	font-family: "Helvetica 75 Bold";
	src: url("font/HelveticaNeue 75 Bold.otf");
}

@font-face
{
	font-family: "Helvetica 37 Thin Condensed";
	src: url("font/HelveticaNeue 37 Thin Condensed.otf");
}




/* Section Header */

.header
{
	background-image: url("resource/gradient.png");
	background-size: 100% 100%;
	clear: both;
}

.profileImage
{
	margin: 10px;
	height: 2.6em;
	width: 2.6em;
	float: left;
	border-radius: 0.4em;
}

.upperWrap
{
	height: 1em;
	margin-top: 0.6em;
}

.lowerWrap
{
	height: 1.4em;
	margin-top: 0.3em;
}

.userName
{
	font-family: "Helvetica 37 Thin Condensed";
	float: left;
	font-weight: bold;
	height: 1.4em;
	color: #473e4d;
}

.time
{
	float: right;
	text-align: right;
	font-size: 0.8em;
	height: 1.4em;
	font-weight: bold;
	color: #473e4d;
	margin-top: 0.4em;
}

.place
{
	float: left;
	font-size: 1.33em;
	font-weight: bold;
	color: #140e17;
}

.region
{
	float: right;
	top: 3em;
	text-align: right;
	font-size: 0.8em;
	color: #876d56;
	margin-top: 0.5em;
}




/* Section Content */

.thumbnail
{
	margin-top: 0.8em;
}

.picture
{
	width: 86%;
	margin-left: 7%;
	border: 0px solid #ffffff;
	border-radius: 0.7em;
}

.picture2
{
	width: 30%;
	margin-left: 0.5em;
	margin-right: 0.5em;
	border: 0px solid #ffffff;
	border-radius: 0.7em;
}

.feedback
{
	position: relative;
	margin-left: 93%;
	height: 1em;
	width: 8em;
	top: -1.7em;
	left: -8em;
}

.iconWrap
{
	width: 3em;
	float: right;
	margin-right: 0.5em;
}

.icon
{
	float: left;
	width: 1em;
	height: 1em;
}

.iconText
{
	width: 2em;
	text-align: right;
	float: left;
	margin-top: 0.15em;
}

.likeText
{
	color: #4c5821;
}

.commentText
{
	color: #005c6b;
}

.review
{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}




/* Detail Part */

.infoList
{
	list-style-type: none;
	margin-left: 7%;
	margin-top: 0em;
	width: 86%;
}

.infoListComponent
{
	clear: both;
	height: 1em;
}

.leftWrap
{
	float: left;
	width: 43%;
}

.rightWrap
{
	text-align: right;
	float: right;
	width: 43%;
}

.singleButton
{
	width: 86%;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 0.4em;
	height: 1.5em;
	padding-top: 0.5em;
	text-align: center;
	border: 1px solid #333;
	border-radius: 0.4em;
}

.likeBar
{
	margin-top: 0.4em;
	width: 86%;
	margin-left: 7%;
	margin-right: 7%;
}

.commentList
{
	list-style-type: none;
}

.comment
{
	width: 100%;
}




/* Etc */

.simpleThumbnail
{
	width: 30%;
	margin: 0.5em;
	float: left;
	border: 0px solid #ffffff;
	border-radius: 0.4em;
}

#loading
{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	margin-top: -1em;
	font-size: 3em;
	text-shadow: 2px 2px 2px gray;
}