body
{
	overflow-x: hidden;
	background-color: #ffeeee;
	margin: 0em;
	padding: 0em;
	font-family: "Helvetica";
}

.wrap
{
	margin: 0em;
	padding: 0em;
}

.title
{
	background-image: linear-gradient(bottom, rgb(242,220,200) 14%, rgb(226,206,186) 49%);
	background-image: -o-linear-gradient(bottom, rgb(242,220,200) 14%, rgb(226,206,186) 49%);
	background-image: -moz-linear-gradient(bottom, rgb(242,220,200) 14%, rgb(226,206,186) 49%);
	background-image: -webkit-linear-gradient(bottom, rgb(242,220,200) 14%, rgb(226,206,186) 49%);
	background-image: -ms-linear-gradient(bottom, rgb(242,220,200) 14%, rgb(226,206,186) 49%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.14, rgb(242,220,200)),
		color-stop(0.49, rgb(226,206,186))
	);
	
	clear: both;
	height: 3.6em;
}

.content
{
	background-image: linear-gradient(bottom, rgb(245,231,218) 14%, rgb(245,229,214) 36%);
	background-image: -o-linear-gradient(bottom, rgb(245,231,218) 14%, rgb(245,229,214) 36%);
	background-image: -moz-linear-gradient(bottom, rgb(245,231,218) 14%, rgb(245,229,214) 36%);
	background-image: -webkit-linear-gradient(bottom, rgb(245,231,218) 14%, rgb(245,229,214) 36%);
	background-image: -ms-linear-gradient(bottom, rgb(245,231,218) 14%, rgb(245,229,214) 36%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.14, rgb(245,231,218)),
		color-stop(0.36, rgb(245,229,214))
	);
	
	clear: both;
	padding-top: 1em;
	padding-bottom: 1em;
}

.profileImage
{
	width: 2.6em;
	height: 2.6em;
	margin: 0.5em;
	float: left;
	border: 0px solid #ffffff;
	border-radius: 0.4em;
}

.upperWrap
{
	float: left;
	height: 1em;
	margin-top: 0.6em;
	width: 80%;
}

.lowerWrap
{
	float: left;
	height: 1.4em;
	margin-top: 0.3em;
	width: 80%;
}

.userName
{
	float: left;
	font-size: 0.8em;
	height: 1.4em;
	color: #555555;
}

.rightTop
{
	float: right;
	text-align: right;
	font-size: 0.8em;
	height: 1.8em;
	font-weight: bold;
}

.leftBottom
{
	float: left;
	font-size: 1.33em;
	font-weight: bold;
}

.rightBottom
{
	float: right;
	top: 3em;
	text-align: right;
	font-size: 0.8em;
	color: rgb(139, 113, 91);
	margin-top: 0.5em;
}

.thumbnailWrap
{
	width: 100%;
}

.thumbnailImage
{
	width: 86%;
	height: 12em;
	margin-left: 7%;
	border: 0px solid #ffffff;
	border-radius: 0.7em;
}

.feedback
{
	clear: both;
	font-size: 0.92em;
	width: 100%;
	height: 1.3em;
}

.miniLikes
{
	color: rgb(77, 89, 34);
	float: right;
	margin-right: 0.5em;
}

.miniComments
{
	color: rgb(16, 102, 115);
	float: right;
	margin-right: 7%;
}

.review
{
	clear: both;
	font-size: 1em;
	margin-left: 7%;
	width: 86%;
	
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.imageScroll
{
	height: 6em;
}

.companionWrap
{
	height: 1em;
}

.commentWrap
{
	margin-top: 0.5em;
}

.comment
{
	clear: both;
	height: 3.6em;
}

.comment .lowerWrap .leftBottom
{
	font-size: 1em;
	font-weight: normal;
}

.reaction
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	height: 3em;
}

.buttonTwo
{
	float: left;
	width: 39.5%;
	margin: 0em;
	margin-left: 7%;
	height: 2em;
	background-color: #ccaaaa;
	border-radius: 0.7em;
	text-align: center;
	padding-top: 0.6em;
	font-weight: bold;
	color: #aa5555;
}

.buttonOne
{
	width: 86%;
	margin: 0em;
	margin-left: 7%;
	height: 2em;
	background-color: #ccaaaa;
	border-radius: 0.7em;
	text-align: center;
	padding-top: 0.6em;
	font-weight: bold;
	color: #aa5555;
}